@media (max-width: 1199.98px) {
  .looading .box-one {
    width: 40%;
  }
}

@media (max-width: 991.98px) {
  .looading .box-one {
    width: 100%;
    border: none;
  }
}

@media (max-width: 600px) {

  .hide .inner,
  .btn-login:hover,
  .btn-login:focus,
  .btn-login:active,
  .btn-login {
    width: 65%;
  }

  .page-content,
  footer {
    width: 100%;
  }

  .page-content .container-img-bg {
    height: 15rem;
  }

  .logo {
    left: 230px;
  }

  .icon-page {
    padding-top: 2rem;
    margin-bottom: 1rem;
  }

  .icon-page .fa-arrow-right {
    height: 33px;
    width: 45px;
  }

  footer {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  .logo {
    left: 40.5%;
  }

  .box-icons i {
    margin-bottom: 2rem;
  }

  .slick-slider.nav-tabs .nav-link {
    height: 60px;
    width: 60px;
  }

  footer {
    font-weight: normal;
  }
}

@media (max-width: 375.98px) {
  .slick-slide p {
    font-size: 12px;
  }

  h4 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  .description-text {
    font-size: .7rem;
  }

  .page-content .container-img-bg {
    height: 13rem;
  }

  h3 {
    font-size: 22px;
  }

  .box-icons i {
    margin-bottom: 1.5rem;
  }

  .slick-slider.nav-tabs .nav-link {
    height: 55px;
    width: 55px;
  }

  .slick-slide .p {
    font-size: 15px;
  }

  .img-info {
    height: 250px;
  }

  .slick-prev,
  .slick-next {
    top: 40%;
  }

  footer {
    font-size: 12px;
    font-weight: normal;
  }
}